.nav-top{
    background-color: rgba(226, 226, 226, 0.75);
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid #202047;
}

.brand{
    display: flex;
    align-items: center;
    margin-left: 0.75rem;
}

.brand-image{
    width: 2rem;
}

.brand-name{
    color: #1c5b92;
    font-size: 1.4rem;
    font-weight: 500;
}

.brand-name:hover{
    color: #000;
}

.nav-elements{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-element-item{
    margin: 0;
    color: #222;
    font-size: 1.1rem;
    font-family: 'Barlow Condensed', sans-serif;
}

.nav-element-item:hover{
    color: #1c5b92;
}